body {
  /* background-color: lightyellow; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(166, 232, 233) 0%,
    rgb(221, 197, 230) 86%
  );
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  width: 300px;
  padding: 10px;
  background-color: #07324d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #c4f5ee;
}

.logo-wrapper {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.register {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.signin {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
