body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(166, 232, 233) 0%,
    rgb(221, 197, 230) 86%
  );
  background-attachment: fixed;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  width: 300px;
  padding: 10px;
  background-color: #07324d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #c4f5ee;
}

.logo-wrapper {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.register {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.signin {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.signincol {
  width: 400px;
  /* margin: 20auto 0 auto; */
  /* background-color: whitesmoke; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.username {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}

.email {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}

.password {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}

.confirmPassword {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}

.userType {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}

.userType {
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
  display: flex;
  justify-content: center;
}
