/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0; /* Background color for the entire app */
  color: #333; /* Default text color */
}

/* Header styles */
header {
  background-color: #7b1fa2; /* Purple background color */
  color: #ffffff; /* Header text color */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow for header */
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px; /* Adjust the height of your logo */
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #ffffff; /* Link text color */
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Main content container */
.main-content {
  padding: 20px;
}

/* Signincol and Register styles */
.signincol {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 20px auto;
  background-color: #ffffff; /* Background color for signincol and Register */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
}

.signincol h4 {
  margin-bottom: 20px; /* Bottom margin for headings inside signincol */
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Input field styles */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='checkbox'] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc; /* Border color for input fields */
  border-radius: 4px;
  font-size: 16px;
}

input[type='checkbox'] {
  width: auto; /* Adjust checkbox width */
  margin-top: 5px;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #7b1fa2; 
  color: #ffffff; 
  font-size: 16px;
}

button:hover {
  background-color: #5e35b1; 
}


a {
  color: #7b1fa2; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}


.about-container {
  max-width: 600px; 
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.about-container h2 {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.about-container p {
  font-size: 16px;
  line-height: 1.6; 
}


.section-title {
  font-size: 20px;
  color: #7b1fa2;
  margin-bottom: 10px;
}
